* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

body {
    background-color: #F5F0E1;
    font-size: 14px;
}

nav {
    background-color: #5C4033CC;
    padding: 15px;
    transition: background-color 0.6s ease;
}

nav:hover {
    background-color: #5C4033;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    list-style: none;
}

nav ul a {
    letter-spacing: 1px;
    transition: letter-spacing 0.5s ease;
}

nav ul a:hover {
    letter-spacing: 4px;
}

.nama-web {
    margin-right: auto;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#home {
    padding: 20px;
}

.isi-utama {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 27px;
}

.isi-desk {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 12px;
}

#buku {
    border-top: 1px solid #D6C9B0;
    border-bottom: 1px solid #D6C9B0;
    padding: 20px 0;
}

.rak-buku {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 10px;
}

.bukunya {
    background-color: #ffffff;
    border-radius: 14px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.bukunya:active {
    box-shadow: 7px 7px 10px rgba(43, 40, 40, 0.7);
    transform: scale(0.95);
}

img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: block;
}

.isi-buku {
    background-color: #ffffff;
    color: #1a1a1a;
    padding: 10px 12px 12px;
    font-size: 13px;
    line-height: 1.5;
}

#about {
    margin-top: 15px;
    padding: 0 10px 10px 10px;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 10px;
    transition: background-color 1s ease,
        color 1s ease,
        padding 1s ease,
        border-radius 1s ease,
        transform 1s ease;
}

footer {
    padding: 5px 0;
    background-color: #5C4033CC;
    color: white;
    font-size: 12px;
}

.title {
    display: flex;
    justify-content: center;
}

.sosmed {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.sosmed a {
    text-decoration: none;
    font-style: none;
    color: white;
    letter-spacing: 0;
    transition: letter-spacing 0.5s ease, font-weight ease, underline 0.5s ease;
}

.sosmed a:hover {
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: 700;
}

.sosmed p {
    border-left: 2px solid;
    padding-left: 12px;
}

.sosmed p:first-child {
    border-left: none;
}

.cp {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (min-width: 375px) {
    .isi-utama {
        font-size: 32px;
    }

    .isi-desk {
        font-size: 13px;
    }

    img {
        height: 525px;
    }
}

@media (min-width: 425px) {
    .isi-utama {
        font-size: 37px;
    }

    .isi-desk {
        font-size: 15px;
    }

    img {
        height: 600px;
    }
}

@media (min-width: 768px) {

    nav {
        font-size: 18px;
    }

    nav ul {
        gap: 15px;
    }

    #home {
        padding: 30px;
    }

    .isi-utama {
        font-size: 40px;
    }

    .isi-desk {
        font-size: 18px;
        margin-top: 10px;
    }

    .rak-buku {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 10px;
    }

    img {
        width: 100%;
        height: 250px;
    }

    .bukunya:active {
        box-shadow: 7px 7px 10px rgba(43, 40, 40, 0.7);
        transform: translateY(-5px) scale(1.05);
    }

    .isi-buku {
        font-size: 14px;
    }

    #about {
        line-height: 1.5;
        font-size: 18px;
    }

    footer {
        padding: 5px 0;
        background-color: #5C4033CC;
        color: white;
        font-size: 15px;
    }
}

@media (min-width: 1024px) {
    nav {
        font-size: 22px;
    }

    nav ul {
        gap: 20px;
    }

    #home {
        padding: 40px;
    }

    .isi-utama {
        font-size: 50px;
    }

    .isi-desk {
        font-size: 25px;
        margin-top: 10px;
    }

    .rak-buku {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        padding: 20px;
    }

    .bukunya:hover {
        box-shadow: 7px 7px 10px rgba(43, 40, 40, 0.7);
        transform: translateY(-5px) scale(1.05);
    }

    img {
        width: 100%;
        height: 350px;
    }

    .isi-buku {
        font-size: 16px;
    }

    #about {
        line-height: 1.5;
        font-size: 18px;
        padding: 0 20px 20px 20px;
    }

    #about:hover {
    background-color: #5C4033CC;
    transform: scale(0.95);
    padding: 10px 50px 25px 50px;
    border-radius: 100px;
    color: white;
}

    footer {
        font-size: 15px;
    }
}

@media (min-width: 1440px) {

    .rak-buku {
        gap: 30px;
    }

    .isi-buku {
        font-size: 18px;
    }

    img {
        width: 100%;
        height: 500px;
    }

    #about {
        font-size: 23px;
    }

    footer {
        font-size: 18px;
    }
}
